#eyeb {
  transform: translateY(-9px);
  animation: eyeb 5s linear infinite;
}

@keyframes eyeb {
  0% {
    transform: translateY(-10px);
  }
  25% {
    transform: translateY(0px);
  }
  75% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(10px);
  }
}

#mouth {
  transform: translateY(-5px);
  animation: mouth 5s linear infinite;
}

@keyframes mouth {
  0% {
    transform: translateY(-10px);
  }
  25% {
    transform: translateY(0px);
  }
  75% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(10px);
  }
}

#eyey2 {
  transform: translateX(-2px);
  animation: eyey2 4s linear infinite;
}

@keyframes eyey2 {
  0% {
    transform: translateX(-2px);
  }
  25% {
    transform: translateX(2px);
  }
  75% {
    transform: translateX(-2px);
  }
  100% {
    transform: translateX(2px);
  }
}

#notebook {
  transform: translateY(-4px);
  animation: notebook 6s linear infinite;
}

@keyframes notebook {
  0% {
    transform: translateY(-4px);
  }
  25% {
    transform: translateY(0px);
  }
  75% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(4px);
  }
}

#legs {
  transform: translateY(-9px);
  animation: legs 6s infinite;
}

@keyframes legs {
  0% {
    transform: translateY(-10px);
  }
  25% {
    transform: translateY(0px);
  }
  75% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(10px);
  }
}

#pe {
  animation: pe 6s infinite;
}

@keyframes pe {
  0% {
    transform: rotateX(2deg);
  }
}

#shirt {
  transform: translateY(-9px);
  animation: shirt 6s infinite;
}

@keyframes shirt {
  0% {
    transform: translateY(-10px);
  }
  25% {
    transform: translateY(0px);
  }
  75% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(10px);
  }
}

#tshirt {
  transform: translateY(-9px);
  animation: tshirt 6s infinite;
}

@keyframes tshirt {
  0% {
    transform: translateY(-10px);
  }
  25% {
    transform: translateY(0px);
  }
  75% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(10px);
  }
}

#head {
  transform: translateY(-9px);
  animation: head 6s infinite;
}

@keyframes head {
  0% {
    transform: translateY(-8px);
  }
  25% {
    transform: translateY(0px);
  }
  75% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(8px);
  }
}

#ears {
  animation: ears 6s linear infinite;
}

@keyframes ears {
  0% {
    transform: translateY(-10px);
  }
  25% {
    transform: translateY(0px);
  }
  75% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(10px);
  }
}

#brows {
  animation: brows 6.1s linear infinite;
}

@keyframes brows {
  0% {
    transform: scale(0.96);
  }
  25% {
    transform: scale(1);
  }
  75% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.96);
  }
}
